body {
  margin: 0;
}

ul.topnav {
  transition: margin-right .5s;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7b899e;
}

ul.topnav li {
  float: right;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover {
  background-color: #2f3540;
}

ul.topnav li a:active {
  background-color: #2f3540;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.openbtn {
  display: block;
  text-align: center;
  font-size: 32px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: none;
  padding: 5px 15px 5px 15px;
}

.openbtn:hover {
  background-color: #2f3540;
}

h2{
  color: white;
  text-align: center;
}

.form {
  color: white;
  margin-left: 80px;
  font-size: 20px;
  font-family: Arial;
}

.dropDown1, .dates{
  padding-top: 40px;
}

.dates:after {
  content: "";
  display: table;
  clear: both;
}

.date{
  float:left;
}

input[type="date"]{
  background-color: #393c40;
  font-size: 20px;
  font-family: Arial;
  padding: 10px 5px;
  margin-right: 20px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  width: 150px;
}

select {
  width: 320px;
  font-size: 20px;
  font-family: Arial;
  padding: 10px 20px;
  margin-top: 8px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  background: #393c40;
}

input[type="text"]{
  background-color: #393c40;
  font-size: 20px;
  font-family: Arial;
  padding: 10px 5px;
  margin-right: 20px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  width: 320px;
}

.autocomplete {
  position: relative;
  display: inline-block;
  padding-top: 40px;
}

.autocomplete-items {
  position: absolute;
  width: 320px;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  font-size: 15px;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: black; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #ed7545; 
}

.autocomplete-active {
  background-color: #ed7545 !important; 
  color: white; 
}

.search {
  position: absolute;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #393c40;
  background-color: white;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 40px;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.search:hover {
  background-color: #f0f0f0
}

.search:active {
  background-color: #dbdbdb;
}

@media screen and (max-width: 600px) {

  ul.topnav li.right, ul.topnav li {float: none;}

  .form {
    margin-left: 10px; 
    margin-right: 10px;
  }

  .autocomplete, .autocomplete-items, .openbtn {width: 100%;}

  select, input[type="date"], input[type="text"] {width: 100%;}

  .date{
    position: relative;
    width: 100%;
    display: block;
    padding-top: 10px;
  }
}

@media screen and (max-height: 600px) {

  .sidebar {padding-top: 15px;}
  
  .form, select, input[type="date"], input[type="text"] {font-size: 15px;}
  
  .dropDown1, .autocomplete {padding-top: 10px;}

  .search {margin-top: 10px;}
  
  .dates {padding-top: 0;}

}